[submodule "Lib/mongo-csharp-driver"]
	path = Lib/mongo-csharp-driver
	url = https://github.com/mongodb/mongo-csharp-driver.git
[submodule "Lib/fluent-mongo"]
	path = Lib/fluent-mongo
	url = https://github.com/rconnelly/fluent-mongo.git
[submodule "Lib/service-stack"]
	path = Lib/service-stack
	url = https://github.com/ServiceStack/ServiceStack.git
